# Virtual environment
venv/
.venv/

# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# LaTeX build files
*.aux
*.log
*.out
*.toc
*.synctex.gz

# Generated PDFs (temp)
static/pdfs/

# IDE
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store

